<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navigation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'Home'}}" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'Dachstuhldefinition'}}" href="{{ url_for('timber_construction') }}">Dachstuhldefinition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'Schnittgroessendefinition'}}" href="{{ url_for('internal_forces') }}">Schnittgroessen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'Kalkulation'}}" href="{{ url_for('calculate') }}">Kalkulation</a>
          </li>
     
        </ul>
      </div>
    </div>
  </nav>